.header-title {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 50px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  width: 35px;
  height: 60px;
}

.keyboard-block-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  width: 80px;
  height: 60px;
}

.keyboard-block-backspace {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  width: 70px;
  height: 60px;
}

.keyboard-block-backspace img {
  height: 30px;
}
